<!DOCTYPE html>
<html lang="en">
  <head>

    <%= require('html-loader!./components/imports.html') %>
    <meta charset="UTF-8">
<style>
    <%= require('html-loader!./components/main.css') %>
    <%= require('html-loader!./components/rStats.css') %>
</style>
    <title><%= htmlWebpackPlugin.options.title %></title>

  </head>

  <body>
      <div id="containergraphCanvas">
          <canvas 
           id="graphCanvas" >
          </canvas>
            <div 
                style="position:absolute;top:0px;right:0px;z-index:1;"
                id="datGuigraphCanvas">
            </div>
        </div>

    <%= require('html-loader!./components/modalSave.html') %>
    <% if (htmlWebpackPlugin.options.env === 'dev') { %>
       <% } %>
       <script src="libs/rStats.js"></script>
    <script src="libs/rStats.extras.js"></script>

    <!--<script src="js/dat.gui.min.js"></script>-->
    <!--<script type="module" src="js/main.js"></script>-->
  </body>
</html>
