<!DOCTYPE html>
<html lang="en">
  <head>

    <%= require('html-loader!./components/imports.html') %>
    <meta charset="UTF-8">
<style>
    <%= require('html-loader!./components/main.css') %>
    <%= require('html-loader!./components/rStats.css') %>
</style>
    <title><%= htmlWebpackPlugin.options.title %></title>

  </head>

  <body>
    <canvas 
        id="graphCanvas" >
    </canvas>

    <%= require('html-loader!./components/modalSave.html') %>
    <% if (htmlWebpackPlugin.options.env === 'dev') { %>
       <% } %>
       <script src="libs/rStats.js"></script>
    <script src="libs/rStats.extras.js"></script>

    <!--<script src="js/dat.gui.min.js"></script>-->
    <!--<script type="module" src="js/main.js"></script>-->
  </body>
</html>
